* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  position: relative;
  font-family: "Open Sans", Arial, sans-serif;
  min-width: 1160px;
}

a {
  text-decoration: none;
}

.header-top {   
  background: #eceef4;
}

.header-top .align-justify,
.footer-top .align-justify  {
  min-height: 63px;  
}

.align-justify {  
  max-width: 1160px;
  margin: 0 auto;
  text-align: justify;  
  vertical-align: top;
  font-size: 0; 
  line-height: 0;  
  text-justify: newspaper;
  zoom:1;
}

.align-justify:after {
  content: "";
  display: inline-block;
  width: 100%;  
}

.vertical {
  display: inline-block;  
  height: 100%;
  vertical-align: top;
  font-size: 0;
}

.vertical:after {
  content: "";
  display: inline-block;
  height: 100%; 
  font-size: 0;
  vertical-align: middle;
}

.header-top-menu {
  padding-top: 15px;
}

.header-top-menu a {
  font-weight: bold;
  font-size: 12px;
  color: #6d6e71;  
}

.header-top-menu a,
.footer-bottom-menu a,
.social-icons {
  display: inline-block;  
  vertical-align: middle;  
  text-decoration: none;  
  text-align: center; 
}

.header-top-menu a {
  position: relative;
  min-width: 99px;
  height: 32px;
  border-radius: 3px;
  padding-top: 4px;
  margin-right: 5px;
  padding-left: 31px;
  padding-right: 7px;
  background-color: white;
}

.header-top-menu a:before {
  content: "";
  position: absolute;
  width: 19px;
  height: 22px;  
  left: 8px;
  top: 5px;
}

.header-top-menu .top-menu-icon1:before {
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -15px -12px; 
}

.header-top-menu .top-menu-icon2:before {
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -50px -11px; 
}

.header-top-menu .top-menu-icon3:before {
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -117px -12px; 
}

.header-top-menu .top-menu-icon4:before {
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -83px -12px; 
}

.header-top-social a,
.footer-top-social a {
  position: relative;
  min-height: 63px; 
  border-left: #dee0e6 1px solid;
  width: 64.5px; 
}

.header-top-social a:before,
.footer-top-social a:before {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  left: 21px;
  top: 21px;  
}

.header-top-social a:hover,
.header-top-menu a:hover {
  background-color: #dee0e6;
}

.header-top-social a:active,
.header-top-menu a:active,
.header-bottom-menu a:active {
  background-color: #babbbc;
}

.header-top-social a:last-child {
  border-right: #dee0e6 1px solid;
}

.header-top-social .top-social-fb:before {
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -157px -14px; 
}

.header-top-social .top-social-twitter:before {
  width: 25px;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -196px -14px;
  left: 22px; 
}

.header-top-social .top-social-instagram:before {
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -243px -14px; 
}

.header-top-social .top-social-google:before {
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -287px -14px;
  width: 25px;
  left: 20px; 
}

.header-middle {
  min-height: 218px;
  background: #ffffff;
}

.header-middle .align-justify {
  min-height: 218px;  
  padding-right: 2px;
}

.header-logo,
.header-contact {
  position: relative;
  height: 218px; 
}
.header-logo {
  margin-left: -17px;  
}

.logo-name {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  font-size: 41px;
  line-height: 30px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  color: #3687c4;
}

.logo,
.container-header-contact {
  display: inline-block;
  vertical-align: middle;   
}

.logo {
  margin-bottom: 5px;
}

.pop-up {
  width: 230px;
  height: 70px;  
  display: inline-block;
  vertical-align: middle;
}

.header-contact {
  width: 230px;
}

.header-contact-icons { 
  vertical-align: middle;
  height: 70px; 
  width: 230px;
  padding-left: 8px;
  padding-bottom: 50px;
  padding-top: 22px
}

.header-contact-icons a {
  display: inline-block;
  height: 24px;
  width: 70px;
  border-right: 1px solid #dee0e6;
  vertical-align: bottom;
  position: relative;
  margin-top: 1px;
}

.header-contact-icons a:last-child {
  border-right: none;
}

.header-contact-icon {
  position: absolute;
  width: 32px;
  height: 38px;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat;  
}

.header-contact-icons .icon6 {  
  left: 16px; 
  top: -1px;
  background-position: -424px -11px;
}

.pop-up1,
.pop-up2,
.pop-up3 {
  position: absolute;
  top: -71px;
  left: -101px;   
  display: none;
  width: 227px;
  height: 52px; 
  border: 2px rgb(212, 212, 213) solid; 
  border-radius: 5px;
  color: black;
  z-index: 10;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  padding: 10px 0;
  line-height: 27px;
}

.pop-up1:before,
.pop-up2:before,
.pop-up3:before {
  position: absolute;
  content: "";
  width: 29px;
  height: 12px;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -622px -14px;
  left: 97px;
  bottom: -12px;
}

.header-contact-icons .icon6:hover .pop-up1,
.header-contact-icons .icon7:hover .pop-up2,
.header-contact-icons .icon8:hover .pop-up3 {
  display: inline-block; 
}
.header-contact-icons .icon6:hover {
  background-position: -472px -11px;  
}

.header-contact-icons .icon6:active,
.header-contact-icons .icon7:active,
.header-contact-icons .icon8:active {
  opacity: 0.5; 
}

.header-contact-icons .icon7 {  
  left: 21px;
  top: -4px;
  background-position: -333px -11px; 
}

.header-contact-icons .icon7:hover {
  background-position: -379px -11px; 
}

.header-contact-icons .icon8 {  
  left: 22px;
  top: -1px;
  background-position: -520px -11px; 
}

.header-contact-icons .icon8:hover {
  background-position: -570px -11px;  
}

.header-bottom {
  border-top: #eceef4 1px solid;
}

#header-bottom-search {
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: lighter;
}

.header-bottom-search form {
  position: relative;
  padding-top: 7px;
}

.header-btn-search {
  position: absolute;
  width: 35px;
  height: 35px;
  background: url(http://i.cubeupload.com/yGmNcS.png) -669px -7px no-repeat;
  border: none;
  left: -43px;
  top: 23px;
  outline: none;
}

.header-btn-search:focus {
  outline: 1px solid #babbbc;
}

.header-btn-search:hover {
  cursor: pointer;
  background-color: #dee0e6;
  outline: none;
}

.header-btn-search:active {
  background-color: #babbbc;
  border: none;
  outline: none;
}

.header-bottom .align-justify {
  height: 85px; 
  padding-right: 4px;
}

.header-bottom-menu {
  height: 85px;
}

.header-bottom-menu a {
  position: relative;
  display: inline-block;
  height: 100%; 
  border-left: #dee0e6 1px solid;  
  vertical-align: middle;
  text-decoration: none;
  font-size: 13px;  
  color: rgb(109, 110, 113);
  font-weight: bold;
  line-height: 2.077; 
  padding: 0 15px;    
}

.header-bottom-menu a:not(:first-child) {
  padding: 0 23px;
}

.header-bottom-menu a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;  
  left: 50%;
  bottom: 0;
  margin-left: -17px;
  border: 18px solid #1faae2; 
  border-bottom-width: 8px; 
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
  opacity: 0;
}

.header-bottom-menu a:hover:before {
  opacity: 1;   
}

.header-bottom-menu a:hover {
  color: #1faae2;  
}

.header-bottom-menu a:active {
  color: #1faae2;  
}

.header-bottom-menu a:first-child {
  border-left: none;
}

.promo {
  position: relative;
  min-height: 885px;
  min-width: 1160px;  
  margin: 0 auto;
  background: url(http://i.cubeupload.com/RsUmfP.png);
  background-size: cover; 
  background-position: 50% 50%;
}

.promo-container {
  margin: 0 auto;
  max-width: 1160px;
  padding: 244px 0 0 195px;
}

.promo-text {  
  position: relative;  
}

.promo-text p:before {
  content: "";
  position: absolute;
  width: 88px;
  height: 91px;  
  left: 10px;
  top: 30px;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -15px -50px;
  z-index: 1;
}

.promo-text h1 {  
  position: relative;
  text-transform: uppercase;
  font-size: 58px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 1px 8px rgba(1, 1, 1, 0.15); 
  z-index: 5;
}

.promo-text p {
  color: white;
  font-size: 45px;  
  margin-left: 108px;
  margin-top: -10px;
  font-weight: lighter; 
}

.slider-container {
  margin: 0 auto;
  position: relative;
  max-width: 1160px;
  min-height: 300px;  
  bottom: -87px; 
}

.slider {
  position: absolute;
  width: 866px;
  height: 241px;
  right: 0;
  bottom: 0;  
}

.slider > input {
  display: none;
}

.slider1, .img {
  height: inherit;  
}

.slider1 {
  position: relative;
  overflow: hidden;
  width: 866px; 
  margin: 0 auto; 
}

.img {
  position: absolute; 
  left: 272px;
  width: 100%;
  opacity: 0;
  background-repeat: no-repeat;   
}

.img a {
  position: absolute;
  width: 323px;
  height: 65px;  
  bottom: 0;
  text-align: center;
  z-index: 50;  
  text-decoration: none;
  vertical-align: middle;
  font-size: 15px;  
  padding-left: 43px;
}

.img a:hover {
  font-size: 20px;
  transition: 0.5s;
}

.img a:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 28px;  
  left: 125px;
  top: 16px;
}

.img:nth-child(1) a {
  background-color: rgba(138, 202, 81, 0.902);
  color: #ffffff;
}

.img:nth-child(1) a:before,
.img:nth-child(3) a:before {
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -125px -50px;  
}


.img:nth-child(2) a:before,
.img:nth-child(4) a:before {
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -189px -50px;  
}

.img:nth-child(2) a {
  background-color: rgba(254, 235, 117, 0.902);
  color: #cc9800;
}

.img:nth-child(3) a {
  background-color: rgba(53, 159, 223, 0.902);
}

.img:nth-child(4) a {
  background-color: rgba(138, 202, 81, 0.902);
}

.img1 {
  background-image: url(http://i.cubeupload.com/0ANBmS.jpg);  
}

.img2 {
  background-image: url(http://i.cubeupload.com/yorAub.jpg);
}

.img3 {
  background-image: url(http://i.cubeupload.com/hieGxJ.jpg);
}

.img4 {
  background-image: url(http://i.cubeupload.com/jGPc1Z.jpg);
}

#slide1:checked ~ .slider1 .img1 {
  opacity: 1;  
  left: 111px;
}

#slide1:checked ~ .slider1 .img2 {
  opacity: 1;
  left: 433px;  
}

#slide2:checked ~ .slider1 .img2 {
  opacity: 1;
  left: 111px;
}

#slide2:checked ~ .slider1 .img3 {  
  opacity: 1;  
  left: 433px;
}

#slide3:checked ~ .slider1 .img3 {
  opacity: 1;  
  left: 111px;
}


#slide3:checked ~ .slider1 .img4 {
  opacity: 1;  
  left: 433px;
}

.side-controls label {
  position: absolute;
  display: none;
  top: 0;  
  cursor: pointer;
  width: 112px;
  height: 241px;
  background: #f4f4f4;    
}

.side-controls label:before {
  position: absolute;
  display: none;
  content: "";
  width: 23px;
  height: 40px;
  left: 44px;
  top: 100px;
}

/*.side-controls label:hover:before {
  filter: brightness(-50%); 
}*/

#slide2:checked ~ .side-controls label:nth-of-type(1):hover:before,
#slide3:checked ~ .side-controls label:nth-of-type(2):hover:before {  
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -504px -328px;
}

#slide1:checked ~ .side-controls label:nth-of-type(2):hover:before,
#slide2:checked ~ .side-controls label:nth-of-type(3):hover:before {   
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -466px -328px;
}

#slide2:checked ~ .side-controls label:nth-of-type(1),
#slide3:checked ~ .side-controls label:nth-of-type(2) {  
  display: block; 
  left: 0;   
}

#slide2:checked ~ .side-controls label:nth-of-type(1):before,
#slide3:checked ~ .side-controls label:nth-of-type(2):before {
  display: block;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -163px -101px;
}

#slide1:checked ~ .side-controls label:nth-of-type(2),
#slide2:checked ~ .side-controls label:nth-of-type(3) {   
  display: block;  
  right: 0;     
}

#slide1:checked ~ .side-controls label:nth-of-type(2):before,
#slide2:checked ~ .side-controls label:nth-of-type(3):before {
  display: block;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -125px -101px;
}

.description {
  position: relative;
  max-width: 1160px;
  margin: 29px auto 0;  
  font-size: 0;
  color: #6d6e71;
}

.description:after {
  content: "";
  display: block;
  min-width: 1160px;
  height: 22px;
  background: url(http://i.cubeupload.com/rFqILK.png);
  bottom: -122px;  
}

.description a {
  color: inherit;
}

.description a:hover,
.functions a:hover,
.examples a:hover {
  opacity: 0.6;
}

.description-items {  
  position: relative;
  font-size: 16px;
  width: 47%;
  padding: 12px 20px 20px 137px;
  margin-bottom: 65px;
}

.description-items:nth-child(2n) {
   padding: 12px 0 100px 130px;
   width: 44.5%;
}

.description-items h2 { 
  margin-top: 18px;
  font-size: 26px;
  margin-bottom: 33px;
}

.description-items p {
  margin-top: 17px;
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
  hyphens: auto;
}

.description-items:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.description-items.item1:before {
  width: 106px;
  height: 113px;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -244px -64px;  
}

.description-items.item2:before {
  width: 95px;
  height: 116px;
  background: url(http://i.cubeupload.com/yGmNcS.png) -372px -64px;  
  top: -2px;
  left: 1px;
}

.align-center {
  max-width: 1160px;
  margin: 0 auto;
  text-align: center; 
}

.examples-promo-container {
  padding-top: 30px;
}

.functions-promo,
.examples-promo {
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 50px 5px 53px 160px;  
  color: #6d6e71;  
}

.functions {
  margin-bottom: 50px;
}

.functions .align-justify {
  position: relative;
}

.functions .align-justify:before {
  position: absolute;
  content: "";
  height: 100%;
  border-right: 1px solid #eaeced;
  left: 48.75%;
}

.functions-promo {  
  padding-top: 100px;
  margin-bottom: 40px;
  max-width: 800px;
}

.functions-promo:before {
  content: "";
  position: absolute;
  width: 131px;
  height: 117px;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -487px -65px; 
  left: -2px;
  top: 67px;

}

.align-center h2 {
  font-size: 44px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 19px;
}

.functions-items {
  position: relative;
  font-size: 16px;
  width: 45%;
  padding: 0 20px 20px 118px;
  color: #6d6e71;
  margin-top: 10px;
  margin-bottom: 57px;
}

.functions-items:last-child,
.functions-items:nth-last-child(2) {
  margin-bottom: 0;
}

.functions-items:nth-child(2n) {
   padding: 0 0 20px 96px;
   width: 41.5%;
}

.functions-items h3 { 
  font-size: 24px;
  margin-top: 18px;
  margin-bottom: 32px;
}

.functions-items p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
  text-align: justify;  
}

.functions-items:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
}

.functions-items:nth-child(4):before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
}

.functions-items.item1:before {
  width: 86px;
  height: 86px;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -651px -98px; 
}

.functions-items.item2:before {
  width: 65px;
  height: 86px;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -186px -223px;  
}

.functions-items.item3:before {
  width: 88px;
  height: 97px;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -289px -218px; 
}

.functions-items.item4:before {
  width: 93px;
  height: 69px;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -410px -240px;  
}

.functions-items.item5:before {
  width: 90px;
  height: 93px;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -647px -216px; 
}

.functions-items.item6:before {
  width: 68px;
  height: 81px;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -541px -234px; 
}

.examples {
  min-height: 1058px;
  background: #efefef;
  border-radius:  50% 50% 0 0 / 26px 26px 0 0;   
  margin-top: 68px; 
}

.examples-promo-container {
  margin-bottom: 32px;
}

.examples-promo {
  position: relative;
  padding-top: 88px;
  padding-left: 169px;  
  max-width: 800px;
}

.examples-promo:before {
  content: "";
  position: absolute;
  width: 137px;
  height: 151px;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -15px -158px; 
  left: 0;
  top: 30px;
}

.examples-menu {
  min-height: 45px;
  font-size: 0;
  margin-bottom: 35px;
}

.examples-menu a {
  display: inline-block;
  height: 45px;
  min-width: 157px;
  border: 2px solid rgb(206, 206, 206);
  padding: 0 10px;
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 14px; 
  color: #bbbbbb;
  border-radius: 5px;
}

.examples-menu a:hover {
  background: white;
  border-color: white;
  color: #6d6e71;
}

.examples-menu a:active {
  opacity: 0.5;
}

.examples-menu a:first-child,
.examples-menu a:last-child {
  min-width: 122px;
}

.examples-menu a:after {
  content: "";
  display: inline-block;
  height: 100%; 
  font-size: 0;
  vertical-align: middle;
}

.examples-items {
  position: relative;
  font-size: 0;
  min-width: 800px;  
}

.to-the-begining {  
  position: absolute;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background: #ffffff;
  bottom: 350px;
  right: 5px;
  z-index: 100;
}

.to-the-begining:before {
  position: absolute;
  content: "";
  width: 42px;
  height: 24px;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -168px -166px;
  right: 28px;
  bottom: 37px;
}

.examples-items {
  min-width: 1100px;
}

.examples-item {
  display: inline-block;
  width: 23.966%;
  min-height: 272px;
  min-width: 260px;
  background: white; 
  margin-top: 15px;   
  border-radius: 5px 5px 5px 5px;
  border: 12px solid white;
  border-top-width: 16px;
  border-bottom: none;
  vertical-align: top;  
  text-align: center; 
}

.examples-item-photo {  
  border-radius: 5px 5px 5px 5px;
  min-height: 209px;
  background: #f5f5f5;
}

.examples-item-links {
  min-height: 59px;
  font-size: 0;
}

.examples-item-links a {
  position: relative;
  display: inline-block;
  min-height: 59px;
  width: 50%;  
}

.examples-item-links a:before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  left: 50px;
  top: 18px;
}

.examples-item-links a:hover {
  background: #f5f5f5;
}

.examples-item-links a:first-child {
  border-right: 1px #f5f5f5 solid;
}

.examples-item-links a:first-child:before {  
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -420px -342px;
}

.examples-item-links a:last-child:before { 
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -296px -342px;
  left: 52px;
}

.examples-item-links a:first-child:hover {
  background: #f5f5f5;  
}

.examples-item-links a:first-child:active {
  background: #efefef;
}

.examples-item-links a:last-child:hover {
  background: #f5f5f5;  
}

.examples-item-links a:last-child:active {
  background: #efefef;
}

footer {
  min-height: 263px;
  background: #2b2c2d;
  padding-top: 78px;

}

.footer-top {
  margin-bottom: 70px;
}

#footer-input-email {  
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: lighter;
  min-width: 593px;
  height: 100%;
  background: #393b3c;
  border-radius: 10px;
  padding-left: 84px;
  padding-right: 150px;
  color: white;
  min-height: 66px;
  color: #6d6e71;
  font-weight: bold;
  line-height: 27px;
  font-size: 14px;
}

.footer-input-email-container form:before {
  position: absolute;
  content: "";
  width: 32px;
  height: 26px;
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -353px -342px;
  left: 20px;
  top: 20px;
}

.footer-input-email-container {
  padding-top: 8px;
}

.footer-input-email-container form {
  position: relative;  
  min-height: 66px;
  font-weight: bold;
  line-height: 27px;
  font-size: 14px;
}

.footer-input-email-btn {
  position: absolute;  
  background: #494c4d;
  border: none; 
  outline: none;
  border-radius: 10px;
  min-width: 77px;
  height: 67%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; 
  bottom: 0; 
  right: 10px;  
  font-weight: bold;
  line-height: 27px;
  font-size: 14px;
  color: #6d6e71;
}

.footer-input-email-btn:focus {
  outline: 1px solid #babbbc;
}

.footer-input-email-btn:hover {
  cursor: pointer;
  background-color: #dee0e6;
  outline: none;
}

.footer-input-email-btn:active {
  background-color: #babbbc;
  border: none;
  outline: none;
}

.footer-top-social .footer-social-fb:before {
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -37px -342px;  
}

.footer-top-social .footer-social-twitter:before {
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -102px -343px; 
  width: 25px;
}

.footer-top-social .footer-social-instagram:before {
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -167px -342px;  
}

.footer-top-social .footer-social-google:before {
  background: url(http://i.cubeupload.com/yGmNcS.png) no-repeat -231px -342px; 
  width: 25px;
}

.footer-top-social a:last-child {
  border-right: #3c3e3f 1px solid;
}

.footer-top-social a {  
  border-left: #3c3e3f 1px solid;  
}

.footer-bottom a,
.footer-bottom p {
  font-size: 13px;
  font-weight: lighter;
  color: #6d6e71;
}

.copiright {
  display: inline-block;  
}

.footer-bottom-menu a {  
  display: inline-block;
  height: 32px;
  border-radius: 3px;
  padding-top: 4px;
  padding-left: 10px;
  vertical-align: baseline;   
}

.footer-bottom-menu a:hover {
  color: white;
}

.footer-bottom-menu a:active {
  background: #393b3c;
  opacity: 0.5;
}

.footer-top-social a:hover {
 border: #3c3e3f 1px solid; 
}


.footer-bottom-menu a:after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(109, 110, 113);  
  width: 5px;
  height: 4px; 
  vertical-align: baseline;  
  bottom: 10px;
  margin-left: 10px;
}

.footer-bottom-menu a:last-child:after {
  display: none;
}
